.chapter {
  margin: 2rem auto;
  max-width: 64rem;
  display: grid;
  grid-template:
      "title       " auto
      "outline     " auto
      "introduction" auto
      "conclusion  " auto /
       1fr;
  gap: 1rem;

  @media (min-width: 45em) {
    grid-template:
      "title   title       " auto
      "outline introduction" auto
      "outline conclusion  " auto /
       1fr     1.6fr;
    gap: 1rem 2rem;
  }
}

.chapter__title {
  margin: 0;
  grid-area: title;
  font-family: var(--font-heading);
  font-size: 1.25rem;
  font-weight: 700;

  &::before {
    content: "Chapter " counter(chapters) ": ";
    counter-increment: chapters;
  }

  @media (min-width: 45em) {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}

.chapter__outline {
  grid-area: outline;
  font-size: 1rem;

  ol {
    margin-left: 1.33em;
    padding: 0;
    list-style: upper-roman;
    font-weight: 700;

    ol {
      list-style: upper-alpha;
      font-weight: 400;

      ol {
        list-style: decimal;
      }
    }
  }

  @media (min-width: 45em) {
    font-size: 1.25rem;

    > ol {
      padding-right: 2rem;
      border-right: 1px solid var(--shadow-color);
    }
  }
}

.chapter__introduction {
  grid-area: introduction;
}

.chapter__conclusion {
  grid-area: conclusion;
}

.chapter__heading,
.chapter__subheading {
  margin: .5em 0 .5em;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .075em;

  @media (min-width: 45em) {
    font-size: 1.5rem;
  }
}
