/* cinzel-700 - latin */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cinzel-v9-latin-700-subset.woff2') format('woff2');
  font-display: swap;
}
