.footer {
  margin-top: 2rem;
  padding: 2em 0;
  border-top: 1px solid var(--highlight-color);
  box-shadow: 0 -2px 0 -1px var(--shadow-color);
  text-align: center;

  @media (min-width: 45em) {
    margin-top: 4rem;
    padding: 4rem 0;
  }
}
