.site-title {
  color: #c7c7c7;
  text-shadow: 0 1px 0 #fff, 0 -1px 1px rgba(0, 0, 0, .4);
  font-weight: 600
}

.site-header h2 {
  color: #7f7f7f;
  background: 0 0;
  text-shadow: none;
  font-weight: 400
}
