@import "reset.css";
@import "variables.css";
@import "header.css";
@import "footer.css";
@import "chapter.css";

body {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: minmax(auto, 64rem);
  justify-content: center;
  color: var(--text-color);
  font-family: "Palatino Linotype", Palatino, serif;
  font-size: 100%;
  line-height: 1.62;
  text-shadow: 0 1px 0 var(--text-highlight);
  background: var(--page-bg);
  background-image: url("bg.png");
  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  margin: 1em 0;
}

p {
  margin-top: 1.5em;
  font-size: 1rem;

  @media screen and (min-width:45em) {
    font-size: 1.25rem;
  }
}

a {
  transition: color .2s;

  &,
  &:visited {
    color: var(--link-color);
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--text-color);
  }
}

b,
strong {
  font-weight: 700;
}

.main {
  border-top: 1px solid #fff;
  box-shadow: 0 -2px 0 -1px var(--text-color);
}
