:root {
  --page-bg: #ededed;
  --text-color: #4e4e4e;
  --link-color: #6b6b6b;
  --title-color: #6b6b6b;
  --text-shadow: rgba(0, 0, 0, .4);
  --text-highlight: #fff;
  --font-body: Palatino Linotype, Palatino, serif;
  --font-heading: trajan-pro-3, Palatino Linotype, Palatino, serif;
  --font-alt: angie-sans, Palatino Linotype, Palatino, serif;
}
